In [2]:
#import necessary libraries
import pandas as pd

In [19]:
#store filepath in a variable
csv_2015 = "data/clean_2015.csv" #Peter
csv_2016 = "data/clean_2016.csv" #Peter
csv_2017 = "data/clean_2017.csv" #Kelsey
csv_2018 = "data/clean_2018.csv" #Nate
csv_2019 = "data/clean_2019.csv" #Dave
csv_2020 = "data/clean_2020.csv" #Jess
csv_2021 = "data/clean_2021.csv" #Nate
csv_2022 = "data/clean_2022.csv" #Kelsey

In [4]:
#read our data file(s)
csv_2015_df = pd.read_csv(csv_2015)
csv_2016_df = pd.read_csv(csv_2016)
csv_2017_df = pd.read_csv(csv_2017)
csv_2018_df = pd.read_csv(csv_2018)
csv_2019_df = pd.read_csv(csv_2019)
csv_2020_df = pd.read_csv(csv_2020)
csv_2021_df = pd.read_csv(csv_2021)
csv_2022_df = pd.read_csv(csv_2022)

In [5]:
csv_2022_df.columns.tolist()

['Country',
 'Region',
 'Happiness_Rank',
 'Happiness_Score',
 'Economy_GDP',
 'Family',
 'Life_Expectancy',
 'Freedom',
 'Trust_in_Gov',
 'Generosity',
 'Dystopia_Residual',
 'Year']

In [6]:
csv_2015_df.columns.tolist()

['Country',
 'Region',
 'Happiness_Rank',
 'Happiness_Score',
 'Economy_GDP',
 'Family',
 'Life_Expectancy',
 'Freedom',
 'Trust_in_Gov',
 'Generosity',
 'Dystopia_Residual',
 'Year']

In [7]:
#drop year column
csv_2015_df = pd.DataFrame(csv_2015_df)
csv_2016_df = pd.DataFrame(csv_2016_df)
csv_2017_df = pd.DataFrame(csv_2017_df)
csv_2018_df = pd.DataFrame(csv_2018_df)
csv_2019_df = pd.DataFrame(csv_2019_df)
csv_2020_df = pd.DataFrame(csv_2020_df)
csv_2021_df = pd.DataFrame(csv_2021_df)
csv_2022_df = pd.DataFrame(csv_2022_df)

In [8]:
csv_2020_df = csv_2020_df[['Country', 'Region','Happiness_Rank', 'Happiness_Score',
                               'Economy_GDP', 'Family', 'Life_Expectancy', 'Freedom',
                               'Trust_in_Gov', 'Generosity', 'Dystopia_Residual', 'Year']]
csv_2020_df.columns.tolist()

['Country',
 'Region',
 'Happiness_Rank',
 'Happiness_Score',
 'Economy_GDP',
 'Family',
 'Life_Expectancy',
 'Freedom',
 'Trust_in_Gov',
 'Generosity',
 'Dystopia_Residual',
 'Year']

In [9]:
# column cleaning
csv_2021_df = csv_2021_df.rename(columns={'Dystopia + residual' : 'Dystopia_Residual'})
csv_2021_df['Year'] = 2021
csv_2021_df = csv_2021_df[['Country', 'Region','Happiness_Rank', 'Happiness_Score',
                               'Economy_GDP', 'Family', 'Life_Expectancy', 'Freedom',
                               'Trust_in_Gov', 'Generosity', 'Dystopia_Residual', 'Year']]
csv_2021_df.columns.tolist()

['Country',
 'Region',
 'Happiness_Rank',
 'Happiness_Score',
 'Economy_GDP',
 'Family',
 'Life_Expectancy',
 'Freedom',
 'Trust_in_Gov',
 'Generosity',
 'Dystopia_Residual',
 'Year']

In [10]:
# #merge data
# combined_csv = pd.merge(csv_2015_df, csv_2016_df, how = 'outer')
# combined_csv = pd.merge(combined_csv, csv_2017_df, how = 'outer')
# combined_csv = pd.merge(combined_csv, csv_2018_df, how = 'outer')
# #combined_csv = pd.merge(combined_csv, csv_2019_df, how = 'outer')
# #combined_csv = pd.merge(combined_csv, csv_2020_df, how = 'outer')
# combined_csv = pd.merge(combined_csv, csv_2021_df, how = 'outer')
# #combined_csv = pd.merge(combined_csv, csv_2022_df, how = 'outer')

# combined_csv

frames = [csv_2015_df, csv_2016_df, csv_2017_df, csv_2018_df, 
          csv_2019_df, csv_2020_df, csv_2021_df, csv_2022_df]

In [11]:
total_raw_data_df = pd.concat(frames)

In [12]:
total_raw_data_df

,Country,Region,Happiness_Rank,Happiness_Score,Economy_GDP,Family,Life_Expectancy,Freedom,Trust_in_Gov,Generosity,Dystopia_Residual,Year
0,Switzerland,Western Europe,1.0,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2.0,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3.0,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4.0,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5.0,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
141,Botswana*,NaN,142.0,3.471,1.50300,0.815,0.28000,0.57100,0.10200,0.01200,0.187,2022
142,Rwanda*,NaN,143.0,3.268,0.78500,0.133,0.46200,0.62100,0.54400,0.18700,0.536,2022
143,Zimbabwe,NaN,144.0,2.995,0.94700,0.69,0.27000,0.32900,0.10500,0.10600,0.548,2022
144,Lebanon,NaN,145.0,2.955,1.39200,0.498,0.63100,0.10300,0.03400,0.08200,0.216,2022
145,Afghanistan,NaN,146.0,2.404,0.75800,0.0,0.28900,0.00000,0.00500,0.08900,1.263,2022

In [13]:
total_raw_data_df.to_csv("data/total_data_clean.csv", index=False, encoding="ISO-8859-1")

In [17]:
# finding top 20 happiness scores over all years
total_raw_data_df.sort_values(by="Happiness_Score", ascending=False).head(20)

,Country,Region,Happiness_Rank,Happiness_Score,Economy_GDP,Family,Life_Expectancy,Freedom,Trust_in_Gov,Generosity,Dystopia_Residual,Year
0,Finland,Western Europe,0.0,7.8420,10.775000,0.954,72.000000,0.949000,0.186000,-0.098000,3.253,2021
0,Finland,NaN,1.0,7.8210,1.892000,1.258,0.775000,0.736000,0.534000,0.109000,2.518,2022
0,Finland,Western Europe,NaN,7.8087,10.639267,0.95433,71.900825,0.949172,0.195445,-0.059482,2.762835,2020
0,Finland,NaN,1.0,7.7690,1.340000,NaN,0.986000,0.596000,0.393000,0.153000,NaN,2019
1,Denmark,Western Europe,NaN,7.6456,10.774001,0.955991,72.402504,0.951444,0.168489,0.066202,2.432741,2020
1,Denmark,NaN,2.0,7.6360,1.953000,1.243,0.777000,0.719000,0.532000,0.188000,2.226,2022
0,Finland,NaN,1.0,7.6320,1.305000,Nan,0.874000,0.681000,0.393000,0.202000,Nan,2018
1,Denmark,Western Europe,1.0,7.6200,10.933000,0.954,72.700000,0.946000,0.179000,0.030000,2.868,2021
1,Denmark,NaN,2.0,7.6000,1.383000,NaN,0.996000,0.592000,0.410000,0.252000,NaN,2019
1,Norway,NaN,2.0,7.5940,1.456000,Nan,0.861000,0.686000,0.340000,0.286000,Nan,2018
0,Switzerland,Western Europe,1.0,7.5870,1.396510,1.34951,0.941430,0.665570,0.419780,0.296780,2.51738,2015
2,Switzerland,Western Europe,2.0,7.5710,11.117000,0.942,74.400000,0.919000,0.292000,0.025000,2.839,2021
1,Iceland,Western Europe,2.0,7.5610,1.302320,1.40223,0.947840,0.628770,0.141450,0.436300,2.70201,2015
2,Switzerland,Western Europe,NaN,7.5599,10.979933,0.942847,74.102448,0.921337,0.303728,0.105911,2.350267,2020
2,Iceland,NaN,3.0,7.5570,1.936000,1.32,0.803000,0.718000,0.191000,0.270000,2.32,2022
2,Denmark,NaN,3.0,7.5550,1.351000,Nan,0.868000,0.683000,0.408000,0.284000,Nan,2018
2,Norway,NaN,3.0,7.5540,1.488000,NaN,1.028000,0.603000,0.341000,0.271000,NaN,2019
3,Iceland,Western Europe,3.0,7.5540,10.878000,0.983,73.000000,0.955000,0.673000,0.160000,2.967,2021
0,Norway,NaN,1.0,7.5370,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027,2017
2,Denmark,Western Europe,3.0,7.5270,1.325480,1.36058,0.874640,0.649380,0.483570,0.341390,2.49204,2015

In [18]:
# finding bottom 20 happiness scores over all years
total_raw_data_df.sort_values(by="Happiness_Score", ascending=True).head(20)

,Country,Region,Happiness_Rank,Happiness_Score,Economy_GDP,Family,Life_Expectancy,Freedom,Trust_in_Gov,Generosity,Dystopia_Residual,Year
145,Afghanistan,NaN,146.0,2.4040,0.758000,0.0,0.289000,0.000000,0.005000,0.089000,1.263,2022
148,Afghanistan,South Asia,148.0,2.5230,7.695000,0.463,52.493000,0.382000,0.924000,-0.102000,1.895,2021
152,Afghanistan,South Asia,NaN,2.5669,7.462861,0.470367,52.590000,0.396573,0.933687,-0.096429,1.507236,2020
154,Central African Republic,NaN,155.0,2.6930,0.000000,0.0,0.018773,0.270842,0.056565,0.280876,2.066005,2017
151,South Sudan,Sub-Saharan Africa,NaN,2.8166,7.425360,0.553707,51.000000,0.451314,0.763417,0.016519,1.378751,2020
157,Togo,Sub-Saharan Africa,158.0,2.8390,0.208680,0.13995,0.284430,0.364530,0.107310,0.166810,1.56726,2015
155,South Sudan,NaN,156.0,2.8530,0.306000,NaN,0.295000,0.010000,0.091000,0.202000,NaN,2019
153,Burundi,NaN,154.0,2.9050,0.091623,0.629794,0.151611,0.059901,0.084148,0.204435,1.683024,2017
156,Burundi,Sub-Saharan Africa,157.0,2.9050,0.015300,0.41587,0.223960,0.118500,0.100620,0.197270,1.83302,2015
156,Burundi,Sub-Saharan Africa,157.0,2.9050,0.068310,0.23442,0.157470,0.043200,0.094190,0.202900,2.10404,2016
155,Burundi,NaN,156.0,2.9050,0.091000,Nan,0.145000,0.065000,0.076000,0.149000,Nan,2018
144,Lebanon,NaN,145.0,2.9550,1.392000,0.498,0.631000,0.103000,0.034000,0.082000,0.216,2022
143,Zimbabwe,NaN,144.0,2.9950,0.947000,0.69,0.270000,0.329000,0.105000,0.106000,0.548,2022
155,Syria,Middle East and Northern Africa,156.0,3.0060,0.663200,0.47489,0.721930,0.156840,0.189060,0.471790,0.32858,2015
155,Syria,Middle East and Northern Africa,156.0,3.0690,0.747190,0.14866,0.629940,0.069120,0.172330,0.483970,0.81789,2016
154,Central African Republic,NaN,155.0,3.0830,0.026000,NaN,0.105000,0.225000,0.035000,0.235000,NaN,2019
154,Central African Republic,NaN,155.0,3.0830,0.024000,Nan,0.010000,0.305000,0.038000,0.218000,Nan,2018
147,Zimbabwe,Sub-Saharan Africa,147.0,3.1450,7.943000,0.75,56.201000,0.677000,0.821000,-0.047000,1.205,2021
153,Afghanistan,NaN,154.0,3.2030,0.350000,NaN,0.361000,0.000000,0.025000,0.158000,NaN,2019
152,Tanzania,NaN,153.0,3.2310,0.476000,NaN,0.499000,0.417000,0.147000,0.276000,NaN,2019