In [121]:
#import necessary libraries
import pandas as pd

In [122]:
#store filepath in a variable
csv_2015 = "data/clean_2015.csv" #Peter
csv_2016 = "data/clean_2016.csv" #Peter
csv_2017 = "data/clean_2017.csv" #Kelsey
csv_2018 = "data/clean_2018.csv" #Nate
csv_2019 = "data/clean_2019.csv" #Dave
csv_2020 = "data/clean_2020.csv" #Jess
csv_2021 = "data/clean_2021.csv" #Nate
csv_2022 = "data/clean_2022.csv" #Kelsey

In [123]:
#read our data file(s)
csv_2015_df = pd.read_csv(csv_2015)
csv_2016_df = pd.read_csv(csv_2016)
csv_2017_df = pd.read_csv(csv_2017)
csv_2018_df = pd.read_csv(csv_2018)
csv_2019_df = pd.read_csv(csv_2019)
csv_2020_df = pd.read_csv(csv_2020)
csv_2021_df = pd.read_csv(csv_2021)
csv_2022_df = pd.read_csv(csv_2022)

In [124]:
#turn into a dataframe
#csv_2015_df = pd.drop(csv_2015_df)
# csv_2016_df = pd.DataFrame(csv_2016_df)
# csv_2017_df = pd.DataFrame(csv_2017_df)
# csv_2018_df = pd.DataFrame(csv_2018_df)
# csv_2019_df = pd.DataFrame(csv_2019_df)
# csv_2020_df = pd.DataFrame(csv_2020_df)
# csv_2021_df = pd.DataFrame(csv_2021_df)
# csv_2022_df = pd.DataFrame(csv_2022_df)

In [125]:
#drop year column
csv_2015_df = pd.DataFrame(csv_2015_df)
csv_2016_df = pd.DataFrame(csv_2016_df)
csv_2017_df = pd.DataFrame(csv_2017_df)
csv_2018_df = pd.DataFrame(csv_2018_df)
csv_2019_df = pd.DataFrame(csv_2019_df)
csv_2020_df = pd.DataFrame(csv_2020_df)
csv_2021_df = pd.DataFrame(csv_2021_df)
csv_2022_df = pd.DataFrame(csv_2022_df)

In [134]:
#merge data
combined_csv = pd.merge(csv_2015_df, csv_2016_df, how = 'outer').drop(columns=['Unnamed: 0'])
#combined_csv = pd.merge(combined_csv, csv_2017_df, how = 'outer')
#combined_csv = pd.merge(combined_csv, csv_2018_df, how = 'outer')
#combined_csv = pd.merge(combined_csv, csv_2019_df, how = 'outer')
#combined_csv = pd.merge(combined_csv, csv_2020_df, how = 'outer')
combined_csv = pd.merge(combined_csv, csv_2021_df, how = 'outer')
#combined_csv = pd.merge(combined_csv, csv_2022_df, how = 'outer')

combined_csv

,Country,Region,Happiness_Rank,Happiness_Score,Economy_GDP,Family,Life_Expectancy,Freedom,Trust_in_Gov,Generosity,Dystopia_Residual,Year,Dystopia + residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015.0,NaN
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015.0,NaN
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015.0,NaN
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015.0,NaN
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,Lesotho,Sub-Saharan Africa,144,3.512,7.92600,0.78700,48.70000,0.71500,0.91500,-0.13100,NaN,NaN,1.800
460,Botswana,Sub-Saharan Africa,145,3.467,9.78200,0.78400,59.26900,0.82400,0.80100,-0.24600,NaN,NaN,0.648
461,Rwanda,Sub-Saharan Africa,146,3.415,7.67600,0.55200,61.40000,0.89700,0.16700,0.06100,NaN,NaN,1.095
462,Zimbabwe,Sub-Saharan Africa,147,3.145,7.94300,0.75000,56.20100,0.67700,0.82100,-0.04700,NaN,NaN,1.205
463,Afghanistan,South Asia,148,2.523,7.69500,0.46300,52.49300,0.38200,0.92400,-0.10200,NaN,NaN,1.895