In [1]:
import pandas as pd

In [12]:
csv_2015 = "data/2015.csv"
csv_2017 = "data/2017.csv" #Kelsey
csv_2022 = "data/2022.csv" #Kelsey

In [13]:
csv_2015_df = pd.read_csv(csv_2015)
csv_2017_df = pd.read_csv(csv_2017)
csv_2022_df = pd.read_csv(csv_2022)

In [5]:
csv_2015_df.columns.tolist()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual']

In [24]:
csv_2017_df.columns.tolist()

['Country',
 'Happiness.Rank',
 'Happiness.Score',
 'Whisker.high',
 'Whisker.low',
 'Economy..GDP.per.Capita.',
 'Family',
 'Health..Life.Expectancy.',
 'Freedom',
 'Generosity',
 'Trust..Government.Corruption.',
 'Dystopia.Residual']

In [31]:
clean_2017_df = csv_2017_df.rename(columns={'Happiness.Rank' : 'Happiness_Rank', 
                                    'Happiness.Score' : 'Happiness_Score',
                                    'Economy..GDP.per.Capita.' : 'Economy_GDP',
                                    'Health..Life.Expectancy.' : 'Life_Expectancy',
                                    'Trust..Government.Corruption.' : 'Trust_in_Gov',
                                    'Dystopia.Residual' : 'Dystopia_Residual'})

In [45]:
clean_2017_df['Year']=2017
clean_2017_df['Region']=""
clean_2017_df.columns

# 'Country', 'Region', 'Happiness_Rank', 'Happiness_Score', 'Economy_GDP',  
# 'Family', 'Life_Expectancy', 'Freedom', 'Trust_in_Gov', 'Generosity', 'Dystopia_Residual'

Index(['Country', 'Happiness_Rank', 'Happiness_Score', 'Economy_GDP', 'Family',
       'Life_Expectancy', 'Freedom', 'Generosity', 'Trust_in_Gov',
       'Dystopia_Residual', 'Year', 'Region'],
      dtype='object')

In [58]:
clean_2017_df = clean_2017_df[['Country', 'Region','Happiness_Rank', 'Happiness_Score',
                               'Economy_GDP', 'Family', 'Life_Expectancy', 'Freedom',
                               'Trust_in_Gov', 'Generosity', 'Dystopia_Residual', 'Year']]
# EXAMPLE TO DROP COLUMNS:
# drop by Name
# df1 = df1.drop(['B', 'C'], axis=1)

# # Select the ones you want
# df1 = df[['a','d']]

clean_2017_df.head()
# clean_2017_df.to_csv("data/clean_2017.csv", index=False, encoding="ISO-8859-1")

,Country,Region,Happiness_Rank,Happiness_Score,Economy_GDP,Family,Life_Expectancy,Freedom,Trust_in_Gov,Generosity,Dystopia_Residual,Year
0,Norway,,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027,2017
1,Denmark,,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707,2017
2,Iceland,,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715,2017
3,Switzerland,,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017
4,Finland,,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182,2017

In [14]:
csv_2022_df.columns.tolist()
# 'Country', 'Region', 'Happiness_Rank', 'Happiness_Score', 'Economy_GDP',  
# 'Family', 'Life_Expectancy', 'Freedom', 'Trust_in_Gov', 'Generosity', 'Dystopia_Residual'

['RANK',
 'Country',
 'Happiness score',
 'Whisker-high',
 'Whisker-low',
 'Dystopia (1.83) + residual',
 'Explained by: GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption']

In [53]:
clean_2022_df = csv_2022_df.rename(columns={'RANK' : 'Happiness_Rank',
                                            'Happiness score': 'Happiness_Score',
                                            'Dystopia (1.83) + residual' : 'Dystopia_Residual',
                                            'Explained by: GDP per capita' : 'Economy_GDP',
                                            'Explained by: Social support' : 'Family',
                                            'Explained by: Healthy life expectancy' : 'Life_Expectancy',
                                            'Explained by: Freedom to make life choices' : 'Freedom',
                                            'Explained by: Generosity' : 'Generosity',
                                            'Explained by: Perceptions of corruption' : 'Trust_in_Gov'})

In [54]:
clean_2022_df['Year']=2022
clean_2022_df['Region']=""
clean_2022_df.columns.tolist()

['Happiness_Rank',
 'Country',
 'Happiness_Score',
 'Whisker-high',
 'Whisker-low',
 'Dystopia_Residual',
 'Economy_GDP',
 'Family',
 'Life_Expectancy',
 'Freedom',
 'Generosity',
 'Trust_in_Gov',
 'Year',
 'Region']

In [42]:
# normalized column names:
# 'Country', 'Region', 'Happiness_Rank', 'Happiness_Score', 'Economy_GDP',  
# 'Family', 'Life_Expectancy', 'Freedom', 'Trust_in_Gov', 'Generosity', 'Dystopia_Residual'

In [57]:
clean_2022_df = clean_2022_df[['Country','Region','Happiness_Rank','Happiness_Score',
                               'Economy_GDP',
                               'Family',
                               'Life_Expectancy',
                               'Freedom',
                               'Trust_in_Gov',
                               'Generosity',
                               'Dystopia_Residual',
                               'Year']]

# 2022 data is missing "FAMILY" - is this "EXPLAINED BY: SOCIAL SUPPORT"?

clean_2022_df.head()
# clean_2022_df.to_csv("data/clean_2022.csv", index=False, encoding="ISO-8859-1")

,Country,Region,Happiness_Rank,Happiness_Score,Economy_GDP,Family,Life_Expectancy,Freedom,Trust_in_Gov,Generosity,Dystopia_Residual,Year
0,Finland,,1,7.821,1.892,1.258,0.775,0.736,0.534,0.109,2.518,2022
1,Denmark,,2,7.636,1.953,1.243,0.777,0.719,0.532,0.188,2.226,2022
2,Iceland,,3,7.557,1.936,1.320,0.803,0.718,0.191,0.270,2.320,2022
3,Switzerland,,4,7.512,2.026,1.226,0.822,0.677,0.461,0.147,2.153,2022
4,Netherlands,,5,7.415,1.945,1.206,0.787,0.651,0.419,0.271,2.137,2022

In [ ]:
# EXAMPLE TO DROP COLUMNS:
# drop by Name
# df1 = df1.drop(['B', 'C'], axis=1)

# # Select the ones you want
# df1 = df[['a','d']]