In [16]:
#import necessary libraries
import pandas as pd

In [5]:
#store filepath in a variable
csv_2015 = "data/clean_2015.csv" #Peter
csv_2016 = "data/clean_2016.csv" #Peter
csv_2017 = "data/clean_2017.csv" #Kelsey
csv_2018 = "data/clean_2018.csv" #Nate
csv_2019 = "data/clean_2019.csv" #Dave
csv_2020 = "data/clean_2020.csv" #Jess
csv_2021 = "data/clean_2021.csv" #Nate
csv_2022 = "data/clean_2022.csv" #Kelsey

In [6]:
#read our data file(s)
csv_2015_df = pd.read_csv(csv_2015)
csv_2016_df = pd.read_csv(csv_2016)
csv_2017_df = pd.read_csv(csv_2017)
csv_2018_df = pd.read_csv(csv_2018)
csv_2019_df = pd.read_csv(csv_2019)
csv_2020_df = pd.read_csv(csv_2020)
csv_2021_df = pd.read_csv(csv_2021)
csv_2022_df = pd.read_csv(csv_2022)

In [7]:
csv_2022_df.columns.tolist()

['Country',
 'Region',
 'Happiness_Rank',
 'Happiness_Score',
 'Economy_GDP',
 'Family',
 'Life_Expectancy',
 'Freedom',
 'Trust_in_Gov',
 'Generosity',
 'Dystopia_Residual',
 'Year']

In [8]:
csv_2015_df.columns.tolist()

['Country',
 'Region',
 'Happiness_Rank',
 'Happiness_Score',
 'Economy_GDP',
 'Family',
 'Life_Expectancy',
 'Freedom',
 'Trust_in_Gov',
 'Generosity',
 'Dystopia_Residual',
 'Year']

In [9]:
#drop year column
csv_2015_df = pd.DataFrame(csv_2015_df)
csv_2016_df = pd.DataFrame(csv_2016_df)
csv_2017_df = pd.DataFrame(csv_2017_df)
csv_2018_df = pd.DataFrame(csv_2018_df)
csv_2019_df = pd.DataFrame(csv_2019_df)
csv_2020_df = pd.DataFrame(csv_2020_df)
csv_2021_df = pd.DataFrame(csv_2021_df)
csv_2022_df = pd.DataFrame(csv_2022_df)

In [10]:
csv_2020_df = csv_2020_df[['Country', 'Region','Happiness_Rank', 'Happiness_Score',
                               'Economy_GDP', 'Family', 'Life_Expectancy', 'Freedom',
                               'Trust_in_Gov', 'Generosity', 'Dystopia_Residual', 'Year']]
csv_2020_df.columns.tolist()

['Country',
 'Region',
 'Happiness_Rank',
 'Happiness_Score',
 'Economy_GDP',
 'Family',
 'Life_Expectancy',
 'Freedom',
 'Trust_in_Gov',
 'Generosity',
 'Dystopia_Residual',
 'Year']

In [11]:
# column cleaning
csv_2021_df = csv_2021_df.rename(columns={'Dystopia + residual' : 'Dystopia_Residual'})
csv_2021_df['Year'] = 2021
csv_2021_df = csv_2021_df[['Country', 'Region','Happiness_Rank', 'Happiness_Score',
                               'Economy_GDP', 'Family', 'Life_Expectancy', 'Freedom',
                               'Trust_in_Gov', 'Generosity', 'Dystopia_Residual', 'Year']]
csv_2021_df.columns.tolist()

['Country',
 'Region',
 'Happiness_Rank',
 'Happiness_Score',
 'Economy_GDP',
 'Family',
 'Life_Expectancy',
 'Freedom',
 'Trust_in_Gov',
 'Generosity',
 'Dystopia_Residual',
 'Year']

In [12]:
# #merge data
# combined_csv = pd.merge(csv_2015_df, csv_2016_df, how = 'outer')
# combined_csv = pd.merge(combined_csv, csv_2017_df, how = 'outer')
# combined_csv = pd.merge(combined_csv, csv_2018_df, how = 'outer')
# #combined_csv = pd.merge(combined_csv, csv_2019_df, how = 'outer')
# #combined_csv = pd.merge(combined_csv, csv_2020_df, how = 'outer')
# combined_csv = pd.merge(combined_csv, csv_2021_df, how = 'outer')
# #combined_csv = pd.merge(combined_csv, csv_2022_df, how = 'outer')

# combined_csv

frames = [csv_2015_df, csv_2016_df, csv_2017_df, csv_2018_df, 
          csv_2019_df, csv_2020_df, csv_2021_df, csv_2022_df]

In [13]:
total_raw_data_df = pd.concat(frames)

In [14]:
total_raw_data_df

,Country,Region,Happiness_Rank,Happiness_Score,Economy_GDP,Family,Life_Expectancy,Freedom,Trust_in_Gov,Generosity,Dystopia_Residual,Year
0,Switzerland,Western Europe,1.0,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2.0,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3.0,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4.0,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5.0,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
141,Botswana*,NaN,142.0,3.471,1.50300,0.815,0.28000,0.57100,0.10200,0.01200,0.187,2022
142,Rwanda*,NaN,143.0,3.268,0.78500,0.133,0.46200,0.62100,0.54400,0.18700,0.536,2022
143,Zimbabwe,NaN,144.0,2.995,0.94700,0.69,0.27000,0.32900,0.10500,0.10600,0.548,2022
144,Lebanon,NaN,145.0,2.955,1.39200,0.498,0.63100,0.10300,0.03400,0.08200,0.216,2022
145,Afghanistan,NaN,146.0,2.404,0.75800,0.0,0.28900,0.00000,0.00500,0.08900,1.263,2022

In [17]:
total_raw_data_df.to_csv("data/total_data_clean.csv", index=False, encoding="ISO-8859-1")