In [13]:
#import necessary libraries
import pandas as pd

In [38]:
#store filepath in a variable
csv_2015 = "data/2015.csv"
csv_2016 = "data/2016.csv" #Peter
csv_2017 = "data/2017.csv" #Kelsey
csv_2018 = "data/2018.csv" #Nate
csv_2019 = "data/2019.csv" #Dave
csv_2020 = "data/2020.csv" #Jess
csv_2021 = "data/2021.csv" #Nate
csv_2022 = "data/2022.csv" #Kelsey

In [39]:
#read our data file(s)
csv_2015_df = pd.read_csv(csv_2015)
csv_2016_df = pd.read_csv(csv_2016)
csv_2017_df = pd.read_csv(csv_2017)
csv_2018_df = pd.read_csv(csv_2018)
csv_2019_df = pd.read_csv(csv_2019)
csv_2020_df = pd.read_csv(csv_2020)
csv_2021_df = pd.read_csv(csv_2021)
csv_2022_df = pd.read_csv(csv_2022)

In [40]:
#turn into a dataframe
csv_2015_df = pd.DataFrame(csv_2015_df)
csv_2016_df = pd.DataFrame(csv_2016_df)
csv_2017_df = pd.DataFrame(csv_2017_df)
csv_2018_df = pd.DataFrame(csv_2018_df)
csv_2019_df = pd.DataFrame(csv_2019_df)
csv_2020_df = pd.DataFrame(csv_2020_df)
csv_2021_df = pd.DataFrame(csv_2021_df)
csv_2022_df = pd.DataFrame(csv_2022_df)

In [41]:
#adding a column for year to each dataframe - no longer needed
# csv_2015_df['Year'] = 2015
# csv_2016_df['Year'] = 2016
# csv_2017_df['Year'] = 2017
# csv_2018_df['Year'] = 2018
# csv_2019_df['Year'] = 2019
# csv_2020_df['Year'] = 2020
# csv_2021_df['Year'] = 2021
# csv_2022_df['Year'] = 2022

In [42]:
#display data
csv_2022_df.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Year
0,1,Finland,7.821,7.886,7.756,2.518,1.892,1.258,0.775,0.736,0.109,0.534,2022
1,2,Denmark,7.636,7.710,7.563,2.226,1.953,1.243,0.777,0.719,0.188,0.532,2022
2,3,Iceland,7.557,7.651,7.464,2.320,1.936,1.320,0.803,0.718,0.270,0.191,2022
3,4,Switzerland,7.512,7.586,7.437,2.153,2.026,1.226,0.822,0.677,0.147,0.461,2022
4,5,Netherlands,7.415,7.471,7.359,2.137,1.945,1.206,0.787,0.651,0.271,0.419,2022

In [58]:
#merge data
csv_15_16_df = pd.merge(csv_2015_df, csv_2016_df, how = 'outer')
combined_csv = pd.merge(csv_15_16, csv_2017_df, how = 'outer')
combined_csv = pd.merge(combined_csv, csv_2018_df, how = 'outer')
combined_csv = pd.merge(combined_csv, csv_2019_df, how = 'outer')
combined_csv = pd.merge(combined_csv, csv_2020_df, how = 'outer')
combined_csv = pd.merge(combined_csv, csv_2021_df, how = 'outer')
combined_csv = pd.merge(combined_csv, csv_2022_df, how = 'outer')
combined_csv

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,RANK,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225,Botswana*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.571,0.012,0.102,NaN,142.0,3.471,3.667,3.275,0.187,1.503
1226,Rwanda*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.621,0.187,0.544,NaN,143.0,3.268,3.462,3.074,0.536,0.785
1227,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.329,0.106,0.105,NaN,144.0,2.995,3.110,2.880,0.548,0.947
1228,Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.103,0.082,0.034,NaN,145.0,2.955,3.049,2.862,0.216,1.392
1229,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.089,0.005,NaN,146.0,2.404,2.469,2.339,1.263,0.758

In [57]:
combined_csv.columns.tolist()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year',
 'Lower Confidence Interval',
 'Upper Confidence Interval',
 'Happiness.Rank',
 'Happiness.Score',
 'Whisker.high',
 'Whisker.low',
 'Economy..GDP.per.Capita.',
 'Health..Life.Expectancy.',
 'Trust..Government.Corruption.',
 'Dystopia.Residual',
 'Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Perceptions of corruption',
 'Country name',
 'Regional indicator',
 'Ladder score',
 'Standard error of ladder score',
 'upperwhisker',
 'lowerwhisker',
 'Logged GDP per capita',
 'Ladder score in Dystopia',
 'Explained by: Log GDP per capita',
 'Explained by: Social support',
 'Explained by: Healthy life expectancy',
 'Explained by: Freedom to make life choices',
 'Explained by: Generosity',
 'Explained by: Perceptions of corruption',
 'Dystopia + residual',
 'RANK',
 'Happiness score',
 'Whisker-high',
 'Whisker-low',
 'Dystopia (1.83) + residual',
 'Explained by: GDP per capita']

In [ ]:
#drop columns we dont care about

In [59]:
#export to csv
combined_csv.to_csv('data/Combined_Raw_Data.csv')

In [ ]:
#next steps would be to combine like columns with slightly different names